* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.flex-container{
    border: 1px solid black;
    padding: 10px 30px;
    width: 600px;
    height: 500px;
    display: flex;
    /* justify-content: space-between; */
}
ul li {
    text-decoration: none;
    list-style: none;
}
.item{
    width: 80px;
    height: 30px;
    border: 1px solid black;
    padding: 3px 10px;
    background-color: aqua;
}